<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Please sign in</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<main class="container">
    <div class="form-signin">
        <form method="post" action="/login">
            <h2>Please sign in</h2>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="j_email" placeholder="Email address">
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="j_password" placeholder="Password">
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit"/>
            Sign in</button>
        </form>
    </div>
</main>
</body>
</html>