<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>
    <div>
        <h2>Name</h2>
        <p th:text="${user.getFirstName()}"></p>
    </div>
    <div>
    </div>
    <h2>Lastname</h2>
    <p th:text="${user.getLastName()}"></p>
    <div>
        <h2>Email</h2>
        <p th:text="${user.getEmail()}"></p>
    </div>
    <br>
    <br>
    <a href="/logout"> Logout</a>
</div>
</body>
</html></html>